<!DOCTYPE html>
<html>

<head>
  <title>Janken</title>
</head>

<body>
  <th:block th:if="${user_id}">
    Hi! [[${user_id}]]

    <br>

    <script th:inline="javascript" th:if="${user_id}">
      function submitHand(hand) {
        document.getElementById("handInput").value = hand;
        document.getElementById("handForm").submit();
      }
    </script>

    <a href="#" onclick="submitHand(0)">グー</a>
    <a href="#" onclick="submitHand(1)">チョキ</a>
    <a href="#" onclick="submitHand(2)">パー</a>

    <form th:action="@{/janken}" method="post" id="handForm">
      <input type="hidden" name="user_id" th:value="${user_id}" />
      <input type="hidden" name="hand" id="handInput" />
    </form>

    <br>

    <th:block th:if="${janken_result}">
      <p>ユーザーの手: [[${janken_result.user_hand}]]</p>
      <p>CPUの手: [[${janken_result.cpu_hand}]]</p>
      <p>結果: [[${janken_result.result}]]</p>
    </th:block>

    <br>


    <th:block th:if="${matches != null}">
      <h3>対戦履歴</h3>
      <ul>
        <li th:each="match : ${matches}">
          [[${match.id}]]: [[${match.user1}]]([[${match.user1Hand}]]) vs [[${match.user2}]]([[${match.user2Hand}]])
        </li>
      </ul>

      <th:block th:if="${users != null}">
        <h3>エントリー</h3>
        <ul>
          <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
        </ul>
      </th:block>

      <!-- <th:block th:if="${user_id != null and room != null}">
        <p>RoomNo: [[${room.roomNo}]]</p>
        <p>参加ユーザ一覧:</p>
        <ul>
          <li th:each="user : ${room.users}">[[${user}]]</li>
        </ul>
      </th:block> -->

    </th:block>

    <a th:href="@{/logout}">ログアウト</a>

  </th:block>

</body>

</html>
